@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
header{
	background-color: #E91E77;
}

.nav-bg {
    padding: 10px 25px;
    background-color: #fff;
}

.header-title {
    font-weight: 200;
    font-size: 40px;
    color: #FF8200;
}

nav a{
	color: #FF8200 !important;
	font-weight: 300;
	font-size: 20px;
}
nav a:hover{
	color: #000 !important;
}


#about {
    padding: 120px 0;
    background-color: #FFA489;
}

.titulo{
	font-size: 40px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}

.info{
	font-size: 17px;
	font-weight: 200;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 60%;
	margin: auto;
}

#habilidades {
    padding: 70px 0 120px;
    background-color: #FFD100;
}

.servicio-col{
	border-radius: 15px;
    min-height: 450px;
    margin-top: 20px;
    background-color: #3D7DC9;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.servicio-col-2{
	border-radius: 15px;
    min-height: 450px;
    margin-top: 40px;
    background-color: #BEDE18;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.servicio-col-3{
	border-radius: 15px;
    min-height: 450px;
    margin-top: 20px;
    background-color: #F5C2CB;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.servicio-icon{
	color: #fff;
    text-align: center;
    font-size: 120px;
}
.titulo-2{
	font-size: 31px;
	font-weight: 500;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}
.servicio-info{
	font-size: 17px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
#galeria{
    padding: 70px 0 120px;
    background-color: #FFA489;	
}
.gallery-btn{
	text-align: center;
}
.btn-gal{
	background-color: #FF8200;
	padding: 10px 25px;
	border: none;
	color: #fff;
	font-weight: 400;
}
.btn-gal:hover{
	background-color: #DD001B;
	color: #ddd;
}
.btn-a{
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}
.btn-a:hover{
		color: #ddd;
}

.gallery-info{
	font-size: 17px;
    font-weight: 300;
    color: #fff;
    text-align: left;
    padding: 10px 0;
}

.gal-item{
	padding: 30px 0;
    margin-top: 30px;
    background-color: #DD001B;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.gal-pdf{
	padding: 10px 0;
	width: 75%;
}

.gal-img{
	max-height: 280px; 
}
.gal-img-cont{
	text-align: center;
	margin: 25px 0;
}

.gallery-card{
	background-color: #FF8200;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    padding: 25px 5px;
    min-height: 580px;
    margin: 10px 0;
}

.movie{
	text-align: center;
	margin: 10px 0;
}

.movie-cont{
	border-radius: 15px;
}

#contact{
	padding: 70px 0 120px;
    background-color: #fff;
}

.titulo-contacto{
	font-size: 40px;
	font-weight: 100;
	color: #FF8200;
	text-align: center;
	padding: 10px 0;
}

.contact-form{
	display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.contact-casilla{
	border: solid 1px #FF8200;
	padding: 10px 20px;
	color: #FF8200;
	border-radius: 15px;
	margin: 5px 0;
}
.area-texto{
	padding: 50px;
}

.redes-cont{
	padding: 150px 0;
	text-align: center;
}
.red-icono{
	background-color: #FF8200;
	color: #fff;
	padding: 20px 27px;
	border-radius: 50%;
	margin: 10px 30px;
	text-align: center;
	font-size: 50px;
	border: solid 2px #FF8200;
}
.red-icono:hover{
	background-color: #fff;
	color: #FF8200;
}

footer{
	background-color: #000;
	color: #acbad4;
	padding: 30px 0;
	text-align: center;
	font-size: 13px;
}


